@layer utilities {
  h1 {
    @apply my-4 text-4xl font-bold leading-8;
  }
  h2 {
    @apply my-4 text-2xl font-bold leading-8;
  }
  h3 {
    @apply my-4 text-xl font-bold leading-8;
  }
  .p {
    @apply p-4;
  }
  h1 + .caption,
  h2 + .caption,
  h3 + .caption {
    @apply -mt-4;
  }
  .gap {
    @apply gap-4;
  }
  .mt {
    @apply mt-4;
  }
  .rounded {
    @apply rounded-md;
  }
  .glass {
    @apply backdrop-blur-lg backdrop-saturate-100 backdrop-contrast-100;
  }
  .text-neutral {
    @apply text-neutral-500;
  }
  .border {
    border-color: var(--color-border);
  }
  .grid-auto {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
  }
}


.cover-image {
  @apply h-[240px] max-h-[320px] sm:h-[240px] md:h-[320px];
}

.cover-image img {
  @apply h-full w-full object-cover;
}

.full-bleed {
  @apply -mx-4;
}