@layer utilities {
  h1 {
    @apply my-4 text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold leading-16;
  }
  .p {
    @apply p-4;
  }
  .gap {
    @apply gap-4;
  }
  .mt {
    @apply mt-4;
  }
  .rounded {
    @apply rounded-md;
  }
}

.page-body section {
  @apply mb-16;
}

.cover-image {
  @apply h-[240px] max-h-[320px] sm:h-[240px] md:h-[320px];
}

.cover-image img {
  @apply h-full w-full object-cover;
}

.full-bleed {
  @apply -mx-body;
}